In [1]:
import numpy as np 
import pandas as pd

In [2]:
import os

In [4]:
for dirname, _, filenames in os.walk('E:\\AKPROJECTS\\NLP in R-TopicModelling'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

E:\AKPROJECTS\NLP in R-TopicModelling\abcnews-date-text.csv
E:\AKPROJECTS\NLP in R-TopicModelling\deceptive-opinion.csv
E:\AKPROJECTS\NLP in R-TopicModelling\Fake.csv
E:\AKPROJECTS\NLP in R-TopicModelling\Fake1.csv
E:\AKPROJECTS\NLP in R-TopicModelling\FakeNews.R
E:\AKPROJECTS\NLP in R-TopicModelling\NLP in R-Topic Modelling.Rmd
E:\AKPROJECTS\NLP in R-TopicModelling\True.csv

In [5]:
#Read Dataset
Headlines = pd.read_csv('E:\\AKPROJECTS\\NLP in R-TopicModelling\\abcnews-date-text.csv', usecols =["headline_text"]).dropna()

In [6]:
Headlines

                                             headline_text
0        aba decides against community broadcasting lic...
1           act fire witnesses must be aware of defamation
2           a g calls for infrastructure protection summit
3                 air nz staff in aust strike for pay rise
4            air nz strike to affect australian travellers
...                                                    ...
1226253  what abc readers learned from 2020 looking bac...
1226254  what are the south african and uk variants of ...
1226255  what victorias coronavirus restrictions mean f...
1226256  whats life like as an american doctor during c...
1226257  womens shed canberra reskilling unemployed pan...

[1226258 rows x 1 columns]

In [8]:
Headlines1 = pd.read_csv('E:\\AKPROJECTS\\NLP in R-TopicModelling\\Fake.csv',encoding="unicode_escape", usecols =["title"]).dropna()

In [9]:
Headlines1

                                                   title
0       Donald Trump Sends Out Embarrassing New Year...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obamas Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
23476  McPain: John McCain Furious That Iran Treated ...
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478  Sunnistan: US and Allied Safe Zone Plan to T...
23479  How to Blow $700 Million: Al Jazeera America F...
23480  10 U.S. Navy Sailors Held by Iranian Military ...

[23481 rows x 1 columns]

In [10]:
Headlines2 = pd.read_csv('E:\\AKPROJECTS\\NLP in R-TopicModelling\\Fake1.csv',encoding="unicode_escape", usecols =["title"]).dropna()

In [11]:
Headlines2

                                                   title
0       Donald Trump Sends Out Embarrassing New Yearâ...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obamaâs Na...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
23476  McPain: John McCain Furious That Iran Treated ...
23477  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478  Sunnistan: US and Allied âSafe Zoneâ Plan ...
23479  How to Blow $700 Million: Al Jazeera America F...
23480  10 U.S. Navy Sailors Held by Iranian Military ...

[23481 rows x 1 columns]

In [12]:
Headlines['fake'] = 0
Headlines1['fake'] = 1
Headlines2['fake'] = 1

In [13]:
#Downsize million-headlines dataset to first 50K rows
data = pd.concat([Headlines[:50000],Headlines1,Headlines2])
print('Training dataset contains: {} Real headlines and {} Fake headlines.'.format(50000,len(Headlines1)+len(Headlines2)))

Training dataset contains: 50000 Real headlines and 46962 Fake headlines.

In [21]:
data

,headline_text,fake,title
0,aba decides against community broadcasting lic...,0,NaN
1,act fire witnesses must be aware of defamation,0,NaN
2,a g calls for infrastructure protection summit,0,NaN
3,air nz staff in aust strike for pay rise,0,NaN
4,air nz strike to affect australian travellers,0,NaN
...,...,...,...
23476,NaN,1,McPain: John McCain Furious That Iran Treated ...
23477,NaN,1,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
23478,NaN,1,Sunnistan: US and Allied âSafe Zoneâ Plan ...
23479,NaN,1,How to Blow $700 Million: Al Jazeera America F...
23480,NaN,1,10 U.S. Navy Sailors Held by Iranian Military ...

In [27]:
data.to_csv("E:\\AKPROJECTS\\NLP in R-TopicModelling\\data.csv",index=False)

In [31]:
data = pd.read_csv("E:\\AKPROJECTS\\NLP in R-TopicModelling\\data.csv", usecols =["title"]).dropna()
data

                                                   title
50000   Donald Trump Sends Out Embarrassing New Year...
50001   Drunk Bragging Trump Staffer Started Russian ...
50002   Sheriff David Clarke Becomes An Internet Joke...
50003   Trump Is So Obsessed He Even Has Obamas Name...
50004   Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
96957  McPain: John McCain Furious That Iran Treated ...
96958  JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
96959  Sunnistan: US and Allied âSafe Zoneâ Plan ...
96960  How to Blow $700 Million: Al Jazeera America F...
96961  10 U.S. Navy Sailors Held by Iranian Military ...

[46962 rows x 1 columns]

In [14]:
import gensim
import nltk as nl
from sklearn.feature_extraction import stop_words

C:\Users\Admin\anaconda3\envs\tensorflowenv\lib\site-packages\sklearn\utils\deprecation.py:143: FutureWarning: The sklearn.feature_extraction.stop_words module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_extraction.text. Anything that cannot be imported from sklearn.feature_extraction.text is now part of the private API.
  warnings.warn(message, FutureWarning)

In [15]:

nltk_stopwords = nl.corpus.stopwords.words('english')
gensim_stopwords = gensim.parsing.preprocessing.STOPWORDS
sklearn_stopwords = stop_words.ENGLISH_STOP_WORDS
combined_stopwords = sklearn_stopwords.union(nltk_stopwords,gensim_stopwords)

In [16]:
print('NLTK has {} stop words'.format(len(nltk_stopwords)))
print('Gensim has {} stop words'.format(len(gensim_stopwords)))
print('Sklearn has {} stop words'.format(len(sklearn_stopwords)))
print('Combined stopwords list has {} stop words'.format(len(combined_stopwords)))

NLTK has 179 stop words
Gensim has 337 stop words
Sklearn has 318 stop words
Combined stopwords list has 390 stop words

In [17]:
from nltk.stem import PorterStemmer 
porter_stemmer = PorterStemmer()

In [32]:
data['title']

50000     Donald Trump Sends Out Embarrassing New Year...
50001     Drunk Bragging Trump Staffer Started Russian ...
50002     Sheriff David Clarke Becomes An Internet Joke...
50003     Trump Is So Obsessed He Even Has Obamas Name...
50004     Pope Francis Just Called Out Donald Trump Dur...
                               ...
96957    McPain: John McCain Furious That Iran Treated ...
96958    JUSTICE? Yahoo Settles E-mail Privacy Class-ac...
96959    Sunnistan: US and Allied âSafe Zoneâ Plan ...
96960    How to Blow $700 Million: Al Jazeera America F...
96961    10 U.S. Navy Sailors Held by Iranian Military ...
Name: title, Length: 46962, dtype: object

In [34]:
data['headline_text'] = data['title'].apply(lambda x: x.lower())
data['headline_text']

50000     donald trump sends out embarrassing new year...
50001     drunk bragging trump staffer started russian ...
50002     sheriff david clarke becomes an internet joke...
50003     trump is so obsessed he even has obamas name...
50004     pope francis just called out donald trump dur...
                               ...
96957    mcpain: john mccain furious that iran treated ...
96958    justice? yahoo settles e-mail privacy class-ac...
96959    sunnistan: us and allied âsafe zoneâ plan ...
96960    how to blow $700 million: al jazeera america f...
96961    10 u.s. navy sailors held by iranian military ...
Name: headline_text, Length: 46962, dtype: object

In [36]:
data['headline_text'] = data['title'].apply(lambda x: ' '.join([word for word in x.split() if word.isalpha()]))
data['headline_text']

50000    Donald Trump Sends Out Embarrassing New Eve Th...
50001    Drunk Bragging Trump Staffer Started Russian C...
50002    Sheriff David Clarke Becomes An Internet Joke ...
50003    Trump Is So Obsessed He Even Has Name Coded In...
50004    Pope Francis Just Called Out Donald Trump Duri...
                               ...
96957    John McCain Furious That Iran Treated US Sailo...
96958                  Yahoo Settles Privacy for for Users
96959    US and Allied Plan to Take Territorial Booty i...
96960    How to Blow Al Jazeera America Finally Calls i...
96961    Navy Sailors Held by Iranian Military Signs of...
Name: headline_text, Length: 46962, dtype: object

In [37]:
data['headline_text'] = data['title'].apply(lambda x: ' '.join([porter_stemmer.stem(word) for word in x.split()]))
data['headline_text']

50000    donald trump send out embarrass new year eve ...
50001    drunk brag trump staffer start russian collus ...
50002    sheriff david clark becom An internet joke for...
50003    trump Is So obsess He even ha obama name code...
50004    pope franci just call out donald trump dure hi...
                               ...
96957    mcpain: john mccain furiou that iran treat US ...
96958    justice? yahoo settl e-mail privaci class-acti...
96959    sunnistan: US and alli âsafe zoneâ plan to...
96960    how to blow $700 million: Al jazeera america f...
96961    10 u.s. navi sailor held by iranian militari â...
Name: headline_text, Length: 46962, dtype: object

In [40]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(data['headline_text'], data['title'], test_size=0.2, random_state=7)

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Conv1D, MaxPooling1D, Flatten, Embedding, GlobalMaxPooling1D
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

Using TensorFlow backend.

In [ ]:
tfidf_vectorizer = TfidfVectorizer(tokenizer = word_tokenize, max_features = 300)
tfidf_train = tfidf_vectorizer.fit_transform(x_train)
tfidf_test = tfidf_vectorizer.transform(x_test)
tfidf_features = tfidf_vectorizer.get_feature_names()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
svc = SVC(kernel='linear')
knn = KNeighborsClassifier()
nb = MultinomialNB()

dt.fit(tfidf_train, y_train)
rf.fit(tfidf_train, y_train)
svc.fit(tfidf_train, y_train)
knn.fit(tfidf_train, y_train)
nb.fit(tfidf_train, y_train)

In [ ]:
print ("Testing Acc. of Decision Tree: {} %".format(round(dt.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of Random Forest: {} %".format(round(rf.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of SVC: {} %".format(round(svc.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of K-NN: {} %".format(round(knn.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of Naive Bayesian: {} %".format(round(nb.score(tfidf_test, y_test) * 100, 2)))